*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px;
  font-family: 'Sen', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 8%,
      rgba(90, 90, 90, 0.05) 8%,
      rgba(90, 90, 90, 0.05) 21%,
      transparent 21%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 23%,
      rgba(90, 90, 90, 0.05) 23%,
      rgba(90, 90, 90, 0.05) 37%,
      transparent 37%,
      transparent 100%
    ),
    linear-gradient(
      0deg,
      transparent 0%,
      transparent 37%,
      rgba(90, 90, 90, 0.05) 37%,
      rgba(90, 90, 90, 0.05) 49%,
      transparent 49%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.container {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container ul {
  background-color: red;
}

.container form {
  background-color: rgb(255, 255, 255);
  padding: 3px;
  display: flex;
  width: 100%;
}

.container form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}

.container form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

.message-window {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message-window li {
  padding: 5px 10px;
}

.message-window li:nth-child(odd) {
  background: #eee;
}
